<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="About content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia aliquid error ut suscipit minima, sequi autem facere facilis at hic debitis fugiat libero, dolores dicta odit commodi quos natus.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia aliquid error ut suscipit minima, sequi autem facere facilis at hic debitis fugiat libero, dolores dicta odit commodi quos natus.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia aliquid error ut suscipit minima, sequi autem facere facilis at hic debitis fugiat libero, dolores dicta odit commodi quos natus.</p>        
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>